server:
  port: 9528

spring:
  application:
    name: ZUUL-GATEWAY

zuul:
  prefix: /services
  ignored-services: "*"  #localhost:9527/services/system-service/......
  routes:
    system:
      path: /system/**  #localhost:9527/services/system/......
      serviceId: SYSTEM-SERVICE
    course:
      path: /course/**
      serviceId: COURSE-SERVICE
